*
  box-sizing: border-box

*:focus
  outline: none

body
  font-family: 'Mulish', sans-serif
  color: $text-color
  background-color: $secondary-color

.container
  max-width: 1110px
  margin: auto

img
  max-width: 100%
