.thanks
    &__title
        margin: 25px 0 20px 0
    &__text
        margin: 0
        margin-bottom: 25px
    &__button
        display: inline-block
        margin-bottom: 25px
        padding: 13px 10px
        font-size: 14px
        text-decoration: none
    